
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.for {
  font-size:30px;
  padding-top: 80px;
}
.form-control {
  font-size:30px;
  padding-left: 80px;
}
.send {
  font-size:30px;
  
}
